<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" alt="MyShop 로고" width="40" height="40" class="me-2">
        <span class="fw-bold fs-5">MyShop</span>
    </a>
    

    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fw-semibold" href="/productList">상품 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-semibold" href="/productRegister">상품 등록</a>
            </li>
        </ul>
    </div>
</nav>